.bottom-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
  }

/*footer {
  font-family: "Sofia", sans-serif;
}*/
.bottom-footer a {
  color: #FFF;
}
.bottom-footer a:hover {
   color: #00F
}
.bottom-footer i
{
  text-decoration: underline;
}