body {
  margin: 0 0 100px;
  font-family: Andada;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root
{
  height: 100%;
}
div.container1
{
  height:100%;
}
div.container2
{
  height:100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.margin-button {
  margin-bottom: 5px;
}

html {
  position: relative;
  min-height: 100vh;
}

.auth-parent
{
    display: table;
    width: 100%;
    height: 100vh;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  width:100%;
  height: 100%;
  margin-top: 5vh;  
}
@media only screen and (min-width: 450px)
{
  .auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  }
}

@media only screen and (max-width: 449px)
{
  .auth-inner {
  width: 100%;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 5% 45px 5%;
  border-radius: 15px;
  transition: all .3s;
  }
}


.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}


.animated-login {
  animation: fadeIn 0.25s forwards;
  animation-delay: 0.1s; /* optional */
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.horizontal{
  display: inline;
}
table.entryElement
{
  margin-top: 15px;
  margin-bottom: 15px;

}
table.entryElement tr td
{
  vertical-align: top; 
  border-top: 1px solid #9acffe;
  border-bottom: 1px solid #9acffe;
  margin-bottom: 15px;
}
table.entryElement tr
{
  margin-bottom: 15px;
}
td.entryFirst
{  
  height: 150px;
  width: 150px;
  text-align: right;
  background-color:#e6f3fe;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
}
td.entrySecond
{
  height: 150px;
  width: 85%;
  text-align: left;
  background-color: #e6f3fe;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (min-width: 992px)
{
  div.elementContainer
  {
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 991px)
{
  div.elementContainer
  {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.wrapper {
  display: grid;
  grid-template-rows: 25px 100px 25px;
}
div.entryDetails
{
  margin-top: 5px;
  width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;  
  font-size: 15px;
}
.title {
 
  margin-bottom: 50px;
  text-transform: uppercase;
}

.card-block {
  min-width: 100%;
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;
   
}
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 5;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-top: 0px;
}

.ellipsisText{
  white-space: nowrap;
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis; 
}


/*header {
  font-family: "Sofia", sans-serif;
}

div.bodypage{
  font-family: "Sofia", sans-serif;
}*/

.wrap {
  display: flex;
}

.wrap.wrapBottom {
  align-self: flex-end;
}

